<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mi Equipo Mundialista</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/copa.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/equipo/index">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/equipo/crearEquipo">Nuevo Equipo</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/equipo/miEquipo">Mi Equipo</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/equipo/listaEquipos">Ver Equipos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
               <p><h1>ERROR 403</h1></p>
               <br></br>
               <p><h1>Solo los administradores pueden borrar usuarios</h1></p>
               <br></br>
               <p><a class="btn btn-danger btn-lg" href="/equipo/listaEquipos" role="button">Volver Atras</a></p>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
